lcov.info
*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/build/
.vscode
Manifest.toml
/docs/Manifest.toml
/docs/make.jl
/docs/src/assets/indigo.css
/docs/src/tutorials
/examples/**/**.ipynb
build
LocalPreferences.toml
.CondaPkg
JuliaSysimage.so
.DS_Store

# python wrapper
/python/poetry.lock
/python/build
/python/dist
/python/setup.py
/python/.pytest_cache
/python/.venv
/python/**/**/__pycache__